.column {
    border: 2px dashed rgb(212, 66, 205);
}



/****** Header ******/

header {
    height: 100px;
    background-color: #2c3e50
}




/****** Jumbotron ******/

.jumbotron {
    height: 400px;
    background-color: #1abc9c;
}

.jumbotron .column {
    height: 200px;
}


/******* Main *******/


/* Portfolio */

.portfolio {
    height: 500px;
}





.about {
    height: 200px;
    background-color: #1abc9c;
}




.contact {
    height: 500px;
}








.upper-footer {
    height: 150px;
    background-color: #3a546d;
}

.bottom-footer {
    height: 70px;
    background-color: #2c3e50
}